@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400;500&display=swap";

:root {
    --purple: #502080;
    --comment-grey: #696969;
}
nav {
    padding: 2rem 2rem;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: left;
    height: 3rem;
}
.nav-span {
    padding: 1rem;
}
.nav-link {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.4rem;
}
main {
    padding: 0rem 1rem;
    font-weight: 300;
}
h1, h2 {
    color: #51247a;
    font-weight: 500;
}
h1 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 2.6rem;
}
h2 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
p, label {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
}
input, textarea {
    font-size: 1rem;
}
img {
    width: 3rem;
    height: 3rem;
}
b {
    font-weight: 500;
}

/* Classes */
.error {
    color: red;
}
.comment {
    color: var(--comment-grey);
    padding-left: 3rem;
}
.small {
    font-size: 0.9rem;
    font-weight: 200;
}

/* Average rating colours */
.red {
    color: red;
}
.orange {
    color: orange;
}
.green {
    color: green;
}
