@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400;500&display=swap";
:root {
    --purple: #502080;
    --comment-grey: #696969;
}
body {
    padding-left: 1em;
    padding-right: 1em;
}
nav {
    padding: 2em 2em;
    background-color: var(--purple);
    display: flex;
    align-items: center;
    justify-content: left;
}
.nav-span {
    margin: 0em 2em;
}
.nav-link {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: white;
    font-size: 1.4em;
}
h1, h2 {
    color: #51247a;
    font-weight: 500;
}
h1 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 2.6em;
}
h2 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
p, label {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
}
.csse2002 {
    font-size: 0.2em;
}
input, textarea {
    font-size: 1em;
}
.error {
    color: red;
}
.comment {
    color: var(--comment-grey);
    padding-left: 3em;
}
.small {
    font-size: 0.9em;
}
.red {
    color: red;
}
.orange {
    color: orange;
}
.green {
    color: green;
}
img {
    width: 4em;
    height: 4em;
}