{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav>
    <a href="{% url 'home' %}" class="nav-link"><span class="nav-span"><img src="{% static 'images/favicon.ico' %}"
                                                                            alt="Icon"></span></a>
    <a href="{% url 'home' %}" class="nav-link"><span class="nav-span">Home</span></a>
    <a href="{% url 'add_experience' %}" class="nav-link"><span class="nav-span">Add Experience</span></a>
</nav>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>