{% extends "base.html" %}
{% load static %}

{% block title %}
Add Comment | Course Experiences
{% endblock %}

{% block content %}
<h1>Add Comment | Course Experiences</h1>
{% if commented %}
<h2>Your comment has been added. Thank you!</h2>
<p><a href="{% url 'home' %}" autofocus>Back to homepage</a></p>
{% endif %}
<p>
    {{ experience.description }}<br>
    <span class="small">
        {{ experience.get_rating_display }} • {{ experience.readable_creation_date }}
    </span>
</p>
{% if commenting %}
<form action="/comment/{{ experience.id }}" method="post">
    {% csrf_token %}
    <label for="comment">Add comment: </label><br>
    <textarea name="comment" id="comment" cols="50" rows="10" autofocus></textarea><br>
    <input type="submit" value="Submit">
</form>
{% endif %}
{% if comments %}
<div class="comment">
<p class="small">{{ comments|length }} comment/s</p>
{% for comment in comments %}
    <p>{{ comment.description }}<span class="small"> • {{ comment.readable_creation_date }}</span></p>
{% endfor %}
</div>
{% endif %}
{% endblock %}