{% extends "base.html" %}
{% load static %}

{% block title %}
{{ course_code }} Experiences | Course Experiences
{% endblock %}

{% block content %}
<h1>{{ course_code }} Experiences | Course Experiences</h1>
<p><a href="{% url 'home' %}">Back to homepage</a></p>

<h2>{{ num_experiences }} experience{{ plural_s }} found</h2>
<p>Average satisfaction rate: <span class="{{ colour }}"><b>{{ satisfaction_rate }}%</b></span></p>

<h2>Experiences</h2>

{% for experience, comments in experience_data.items %}

<p>
    {{ experience.description }}<br>
    <span class="small">
        {{ experience.get_rating_display }} • {{ experience.readable_creation_date }} •
        <a href="/comment/{{ experience.id }}">Comment</a>
    </span>
</p>

<div class="comment">
<p class="small">{{ comments|length }} comment/s</p>
{% for comment in comments %}
<p>{{ comment.description }}<span class="small"> • {{ comment.readable_creation_date }}</span></p>
{% endfor %}
</div>

{% endfor %}

{% endblock %}