{% extends "base.html" %}
{% load static %}

{% block title %}
{{ course_code }} Experiences | UQ Course Experiences
{% endblock %}

{% block content %}
<h1>{{ course_code }} Experiences | UQ Course Experiences</h1>
<p><a href="{% url 'home' %}">Back to homepage</a></p>

<h2>{{ num_experiences }} experience{{ plural_s }} found</h2>
<p>Average satisfaction rate: <span class="{{ colour }}">{{ satisfaction_rate }}%</span></p>

<h2>Experiences:</h2>

{% for experience, comments in experience_data.items %}

<p>
    {{ experience.description }}<br>
    <span class="small">
        <i>{{ experience.get_rating_display }} - {{ experience.readable_creation_date }}</i> -
        <a href="/comment/{{ experience.id }}">Comment</a>
    </span>
</p>
<p class="comment">{{ comments|length }} comment/s</p>
{% for comment in comments %}
<p class="comment">{{ comment.description }} - <i>{{ comment.readable_creation_date }}</i></p>
{% endfor %}

{% endfor %}

{% endblock %}